HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
backend/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# yml 설정파일 무시
application.yml
application-*.yml

# 테스트 yml도 제외
src/test/resources/application.yml
src/test/resources/application-*.yml

# 보안 관련 클래스 무시 (예시)
src/main/java/project/personalproject/global/security/config/SocialClientRegistration
src/main/java/project/personalproject/global/security/handler/SuccessHandler.java
